<%- include('./partials/head') %>
<%- include('./partials/header') %>

<body>
    <div class="container center-align">
      <% if (itinerary) { %>
        <h3><%= itinerary.itineraryName %></h3>
        <p>Start Date: <%= itinerary.formattedStartDate %></p>
        <p>End Date: <%= itinerary.formattedEndDate %></p>
  
        <h4>Destinations:</h4>
             <ul class = "a">
                <% itinerary.destinations.forEach(function(destination) { %>
            <li class = "a">
              <strong>Name:</strong> <%= destination.name %><br>
              <strong>Transportation:</strong> <%= destination.transportation %><br>
              <strong>Start Date:</strong> <%= destination.formattedStartDate %><br>
              <strong>End Date:</strong> <%= destination.formattedEndDate %><br>
              <% if (destination.activities.length > 0) { %>
                <strong>Activities:</strong>
                <ul class = "a">
                  <% destination.activities.forEach(function(activity) { %>
                    <li class = "a">
                      <strong>Activity Name:</strong> <%= activity.activityName %><br>
                      <strong>Activity Date:</strong> <%= activity.formattedActivityDate %>
                    </li>
                  <% }); %> <br>
                </ul>
              <% } %>
            </li>
          <% }); %>
        </ul>
      <% } else { %>
        <p>No itinerary found.</p>
      <% } %>
    </div>
  </body>
  <link rel="stylesheet" href="/stylesheets/itinerary.css">