<%- include('./partials/head') %>
  <%- include('./partials/header') %>

    <body>
      <div class="container center-align">
        <% if (itinerary) { %>
          <h2 style="display: flex; align-items: center; justify-content: center;">
            <span style="flex: 1;">
              <%= itinerary.itineraryName %>
                <a href="/itinerary/edit/<%= itinerary._id %>" class="button button" style="font-size: large;">Edit</a>
            </span>
          </h2>
          <h5>
            From: <%= itinerary.startingCity %> <br> 
            Start: <%= itinerary.formattedStartDate %> | End: <%= itinerary.formattedEndDate %>
          </h5>
          <div class="v">
            <% itinerary.destinations.forEach(function(destination) { %>
              <h4>
                To: <%= destination.name %>
              </h4>
              <h6>
                Transportation: <%= destination.transportation %> |
                  Hotel: <%= destination.hotel %> |
                    From: <%= destination.formattedStartDate %> to
                      <%= destination.formattedEndDate %><br>
              </h6>
              <div class="vv">
                <!--<strong>City Name:</strong> <%= destination.name %> |-->
                <% if (destination.activities.length> 0) { %>
                  <h5 class="v">Activities</h5>
                  <% destination.activities.forEach(function(activity) { %>
                    <div class="vvv">
                      <%= activity.activityName %> <br>
                      Date: <%= activity.formattedActivityDate %> |
                      Transportation: <%= activity.transportation %>
                    </div>
                  <% }); %>
                <% } %>
                  </div>
              <% }); %>
            </div>

          <% } else { %>
            <p>No itinerary found.</p>
            <% } %>
      </div>
    </body>
    <link rel="stylesheet" href="/stylesheets/itinerary.css">