<%- include('./partials/head') %>
<%- include('./partials/header') %>

<body>
  <div class="container">
    <h5 class="white-text" type="center-align">Edit Itinerary</h5>
    <!-- EDIT FORM -->
    <form action="/itinerary/edit/<%= itinerary._id %>" method="POST">
      <div class="row">
        <div class="col s6">
          <!-- Itinerary Name -->
          <div class="input-field">
            <input id="itineraryName" type="text" class="validate" name="itineraryName" value="<%= itinerary.itineraryName %>" required>
          </div>
        </div>
        <div class="col s6">
          <!-- Description -->
          <div class="input-field">
            <input type="text" name="startingCity" value="<%= itinerary.startingCity %>" class="autocomplete" required>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s6">
          <!-- Start Date -->
          <div class="input-field">
            <input id="startDate" type="text" class="datepicker" name="startDate" value="<%= itinerary.formattedStartDate %>" required>
          </div>
        </div>

        <div class="col s6">
          <!-- End Date -->
          <div class="input-field">
            <input id="endDate" type="text" class="datepicker" name="endDate" value="<%= itinerary.formattedEndDate %>" required>
          </div>
        </div>
      </div>

      <!-- Destinations -->
      <div id="destinationsContainer">
        <h5 class="white-text">Destinations</h5>
        <!-- Destinations will be appended here from the Script -->
        <% itinerary.destinations.forEach(function(destination, index) { %>
          <div style="padding-top: 3rem;" class="destination" data-index="<%= index + 1 %>">
            <h6 class="white-text">#<%= index + 1 %> <a style="margin-left: 2rem;" class="btn removeDestination">Remove</a></h6> 
            <div class="row">
              <div class="col s4">
                <div class="input-field">
                  <input type="text" name="destinations[<%= index %>][name]" value="<%= destination.name %>" class="autocomplete" required>
                </div>
              </div>
              <div class="col s4">
                <div class="input-field">
                  <select name="destinations[<%= index %>][transportation]">
                    <option value="<%= destination.transportation %>" disabled>Select Transportation</option>
                    <option value="Flight" <%= destination.transportation === 'Flight' ? 'selected' : '' %>>Flight</option>
                    <option value="Train" <%= destination.transportation === 'Train' ? 'selected' : '' %>>Train</option>
                    <option value="Bus" <%= destination.transportation === 'Bus' ? 'selected' : '' %>>Bus</option>
                    <option value="Taxi/Uber" <%= destination.transportation === 'Taxi/Uber' ? 'selected' : '' %>>Taxi/Uber</option>
                    <option value="Boat/Ferry" <%= destination.transportation === 'Boat/Ferry' ? 'selected' : '' %>>Boat/Ferry</option>
                  </select>
                </div>
              </div>
              <div class="col s4">
                <div class="input-field">
                  <input type="text" name="destinations[<%= index %>][hotel]" value="<%= destination.hotel %>" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col s6">
                <div class="input-field">
                  <input type="text" class="datepicker" name="destinations[<%= index %>][startDate]" value="<%= destination.formattedStartDate %>" required>
                </div>
              </div>
              <div class="col s6">
                <div class="input-field">
                  <input type="text" class="datepicker" name="destinations[<%= index %>][endDate]" value="<%= destination.formattedEndDate %>" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <h6 class="white-text">Activities <a style="margin-left: 2rem;" class="btn addActivity">Add</a> </h6>
              </div>
            </div>
            <div class="activitiesContainer">
              <% destination.activities.forEach(function(activity, activityIndex) { %>
                <div class="activity row">
                  <div class="col s3">
                    <div class="input-field">
                      <input type="text" name="destinations[<%= index %>][activities][<%= activityIndex %>][activityName]" value="<%= activity.activityName %>" required>
                    </div>
                  </div>
                  <div class="col s3">
                    <div class="input-field">
                      <input type="text" class="datepicker" name="destinations[<%= index %>][activities][<%= activityIndex %>][activityDate]" value="<%= activity.formattedActivityDate %>" required>
                    </div>
                  </div>
                  <div class="col s3">
                    <div class="input-field">
                      <select name="destinations[<%= index %>][activities][<%= activityIndex %>][transportation]">
                        <option value="<%= activity.transportation %>" disabled>Select Transportation</option>
                        <option value="Walk" <%= activity.transportation === 'Walk' ? 'selected' : '' %>>Walk</option>
                        <option value="Train" <%= activity.transportation === 'Train' ? 'selected' : '' %>>Train</option>
                        <option value="Bus" <%= activity.transportation === 'Bus' ? 'selected' : '' %>>Bus</option>
                        <option value="Taxi/Uber" <%= activity.transportation === 'Taxi/Uber' ? 'selected' : '' %>>Taxi</option>
                        <option value="Boat/Ferry" <%= activity.transportation === 'Boat/Ferry' ? 'selected' : '' %>>Boat/Ferry</option>
                      </select>
                    </div>
                  </div>
                  <div class="col s3">
                    <a style="margin-bottom: -3rem;" class="btn removeActivity">Remove</a>
                  </div>
                </div>
              <% }); %>
            </div>
          </div>
        <% }); %>
      </div>

      <!-- Add Destination Button -->
      <div class="form-group" id="addDestination">
        <button class="waves-effect waves-dark btn">Add Destination</button>
      </div>

      <!-- Submit Button -->
      <div class="form-group" id="submit">
        <button style="color: black; margin-bottom: 3rem;" class="waves-effect waves-dark btn white">Save Changes</button>
      </div>
    </form>
  </div>
  <script src="/scripts/itinerary-edit.js"></script>
  <script src="/scripts/cities.js"></script>
</body>
<link rel="stylesheet" href="/stylesheets/itinerary-create.css">