<%- include('./partials/head') %>
  <%- include('./partials/header') %>

  <body>
    <div class="container center-align">
        <div class="v" style="margin-top: 5%;">
          <h4> Share Link For: <%= itinerary.itineraryName %></h4>
          <div class="vv">
              <a href="/itinerary/share/view/<%= itinerary._id%>">https://techtravelitinerary.com/itinerary/share/view/<%= itinerary._id%></a>
          </div>
        </div>
    </div>
  </body>
  <link rel="stylesheet" href="/stylesheets/itinerary.css">