<%- include('./partials/head') %>
  <%- include('./partials/header') %>

  <body>
    <div class="container center-align">
        <div class="h" style="margin-top: 5%;">
          <h4> Share Link For: <%= itinerary.itineraryName %></h4>
          <div class="hh">
            <input type="text" value="https://techtravelitinerary.com/itinerary/share/view/<%= itinerary._id%>" id="link"readonly>
              <div class="tooltip">
                <button onclick="myFunction()" onmouseout="outFunc()" class="button" >
                  <span class="tooltiptext" id="myTooltip">Copy to clipboard</span>
                  Copy
                </button>
              </div>
              <a href="/itinerary/share/view/<%= itinerary._id%>" class = "button button">Test</a>
            </div>
        </div>
    </div>
    <script src="/scripts/itinerary-share.js"></script>
  </body>
  <link rel="stylesheet" href="/stylesheets/itinerary.css">