<%- include('./partials/head') %>
    <%- include('./partials/header') %>

        <body>
            <div class="bg-text container">
                <% if(typeof(message) != "undefined") { %>
                    <script>
                        document.addEventListener('DOMContentLoaded', function() {
                            // Toast function
                            function showToast(message) {
                                M.toast({html: message, displayLength: 2000});
                            }
                            // Call toast function with the message
                            showToast('<%= message %>');
                        });
                    </script>
                <% } %>

                <h4>Personal Information</h4>
                <img src="/images/user.png" alt="Profile Picture" class="avatar">

                <form method="POST" action="/profile/personal">
                    <label for="displayName">Name:</label><br>
                    <input class="center" type="text" id="displayName" name="displayName" value="<%= displayName %>" autocomplete="off">
                    <label for="username">User Name:</label><br>
                    <input class="center" type="text" id="username" name="username" value="<%= username %>" autocomplete="off">
                    <label for="homeCity">Home City</label><br>
                    <input class="center" type="text" id="homeCity" name="homeCity" value="<%= homeCity %>" autocomplete="off">
                    <button class="waves-effect waves-light btn-large btn black" type="submit">Change Personal Information & Password</button>
                </form>
            </div>

        </body>

        <link rel="stylesheet" href="/stylesheets/personal.css">