<%- include('./partials/head') %>
    <%- include('./partials/header') %>

        <body>
            <div class="bg-text container">
                <h4>Personal Information</h4>
                <img src="/images/user.png" alt="Profile Picture" class="avatar">
                <h5>
                    <%= displayName %>
                </h5>

                <form action="/action_page.php">
                    <label for="displayName">Name:</label><br>
                    <input class="center" type="text" id="displayName" name="displayName" value="<%= displayName %>" readonly>
                    <label for="username">User Name:</label><br>
                    <input class="center" type="text" id="username" name="username" value="<%= username %>" readonly>
                    <label for="homeCity">Home City</label><br>
                    <input class="center" type="text" id="homeCity" name="homeCity" value="<%= homeCity %>" readonly>
                    <a class="waves-effect waves-light btn-large btn black">Change Personal Information & Password</a>
                </form>
            </div>

            <script src="/public/scripts/change.js"></script>

        </body>

        <link rel="stylesheet" href="/stylesheets/personal.css">