<%- include('./partials/head') %>
<%- include('./partials/header') %>

<body>
  <div class="container">
    <h4>Profile</h4>
    <img src="/public/images/logo2.png" alt="Profile Picture" class="avatar">

    <form action="/action_page.php">
      <label for="displayName">Display Name:</label><br>
      <input type="text" id="displayName" name="displayName" value= "<%= displayName %>" >
      <label for="username">User Name:</label>
      <input type="text" id="username" name="username" value="<%= username %>">
    </form>


    <!-- <h6><%= displayName %></h6> -->
  </div>
</body>
<link rel="stylesheet" href="/stylesheets/profile.css">