<%- include('./partials/head') %>
    <%- include('./partials/header') %>


        <body>
            <div class="bg-text container">


                <h3>Trip History</h3>
                <hr>

                    <div class="container">
                    <h4>Past Trips</h4>

                    <% pastItineraries.forEach(itinerary => { %>
                        <h5><a href="/itinerary"><%= itinerary.name %></a></h5>
                        <p>
                            Starting City: <%= itinerary.startingCity %> <br>
                            Destination City: <%= itinerary.destinations[0].name %><br>
                            <%= itinerary.startDate %> - <%= itinerary.endDate %>
                        </p>
                    <% }); %>

                    <h4>Current Trips</h4>

                    <% currentItineraries.forEach(itinerary => { %>
                        <h5><a href="/itinerary"><%= itinerary.name %></a></h5>
                        <p>
                            Starting City: <%= itinerary.startingCity %> <br>
                            Destination City: <%= itinerary.destinations[0].name %><br>
                            <%= itinerary.startDate %> - <%= itinerary.endDate %>
                        </p>
                    <% }); %>

                    <h4>Future Trips</h4>

                        <% futureItineraries.forEach(itinerary => { %>
                            <h5><a href="/itinerary"><%= itinerary.name %></a></h5>
                            <p>
                                Starting City: <%= itinerary.startingCity %> <br>
                                Destination City: <%= itinerary.destinations[0].name %><br>
                                <%= itinerary.startDate %> - <%= itinerary.endDate %>
                            </p>
                        <% }); %>


                        <br>

                        <a class="waves-effect waves-light btn-large black" href="/itinerary"> Go to Itinerary</a>
                        <a class="waves-effect waves-light btn-large black" href="/profile">Back to Profile</a>

            </div>
        </body>

        <link rel="stylesheet" href="/stylesheets/trips.css">