<%- include('./partials/head') %>
    <%- include('./partials/header') %>

        <body>
            <div class="bg-text container">
                <h4>Trips</h4>
                <% if (itinerary) { %>
                    <h3>
                        <%= itinerary.itineraryName %>
                    </h3>
                    <ul class="a">
                        <label class="a">Trip Start Date: <%= itinerary.formattedStartDate %> | Trip End Date: <%=
                                    itinerary.formattedEndDate %></label>
                <% } else { %>
                    <p>No itinerary found.</p>
                <% } %>
            </div>
        </body>

        <link rel="stylesheet" href="/public/stylesheets/trips.css">